nz-layout {
  overflow: hidden auto;
}

nz-header {
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;

}

nz-content {
  padding: 0.25rem;
}

.center {
  height: 100%;

  nz-avatar {
    margin-top: -6px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
