nz-layout {
  overflow: hidden auto;
}

nz-header {
  height: 45px;
  line-height: 45px;
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

nz-content {
  padding: 0.25rem;
}
