<nz-layout [style.height.%]="100">
  <nz-header>
    <ul style="margin-top: -2px; border: none" nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter routerLink="/home">
        <nz-icon nzType="home"></nz-icon>
        首页
      </li>
      <li nz-submenu nzTitle="媒体组件" nzIcon="play-circle">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/media/xgplayer">
            <nz-icon nzType="experiment" nzTheme="outline" />
            西瓜视频
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
