<ng-template #leftRef>
  <nz-space nzAlign="center">
    <nz-input-group *nzSpaceItem [style.width.px]="240" nzSuffixIcon="search">
      <input type="text" nz-input placeholder="名称" />
    </nz-input-group>
    <nz-select *nzSpaceItem [style.width.px]="240" [nzMaxTagCount]="3" nzMode="multiple" nzPlaceHolder="项目">
    </nz-select>
    <nz-space-compact *nzSpaceItem nzBlock>
      <button nz-button nzType="text">
        <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
      </button>
      <button nz-button nzType="text">
        <nz-icon nzType="clear" nzTheme="outline"></nz-icon>
      </button>
      <button nz-button nzType="text">
        <nz-icon nzType="sync" nzTheme="outline"></nz-icon>
      </button>
    </nz-space-compact>
  </nz-space>
</ng-template>

<ng-template #rightRef>
  <nz-space nzAlign="center">
    <button *nzSpaceItem nz-button nzType="primary">新增</button>
  </nz-space>
</ng-template>

<nz-card
  [style.height.%]="100"
  [nzTitle]="leftRef"
  [nzExtra]="rightRef"
  [nzBodyStyle]="{ height: 'calc(100% - 120px)' }"
>
  <nz-table #tb [style.height.%]="100" [nzData]="datasource">
    <thead>
      <tr>
        <th nzLeft nzAlign="center" nzWidth="50px" [nzChecked]="false"></th>
        <th nzLeft="50px" nzWidth="360px">任务名称</th>
        <th nzWidth="200px">所属项目</th>
        <th>调度详情</th>
        <th nzWidth="200px">最近调度</th>
        <th nzWidth="200px">下次调度</th>
        <th nzRight="50px" nzWidth="100px">状态</th>
        <th nzRight nzAlign="center" nzWidth="50px">
          <button nz-button nzType="text" nz-tooltip="操作">
            <span nz-icon nzType="setting" nzTheme="outline"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of tb.data; track data) {
        <tr>
          <td nzLeft nzAlign="center" [nzChecked]="false"></td>
          <td nzLeft="50px"> {{ data.name }} </td>
          <td> {{ data.project_id }} </td>
          <td> </td>
          <td> {{ data.last_time }}</td>
          <td> {{ data.next_time }}</td>
          <td nzRight="50px">
            @switch (data.status) {
              @case (1) {
                <nz-tag nzColor="processing">
                  <nz-icon nzType="sync" nzSpin />
                  <span>运行中</span>
                </nz-tag>
              }
              @case (-1) {
                <nz-tag nzColor="error">
                  <nz-icon nzType="close-circle" />
                  <span>已终止</span>
                </nz-tag>
              }
            }
          </td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
              <nz-icon nzType="ellipsis" />
            </button>
            <nz-dropdown-menu #actions>
              <ul nz-menu>
                <li nz-menu-item> 修改 </li>
                <li nz-menu-item nzDanger> 删除 </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</nz-card>
